body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.userSignupForm {
  background: #f1f7fc;
  padding: 80px 0;
}

.userSignupForm .image-holder {
  display: table-cell;
  width: auto;
  background: url(https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80);
  background-size: cover;
}

.userSignupForm .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.userSignupForm form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}

.userSignupForm form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.userSignupForm form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.userSignupForm form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.userSignupForm form .btn-primary {
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
}

.userSignupForm form .btn-primary:hover, .userSignupForm form .btn-primary:active {
  background: purple;
}

/* newbusinesspage */
.busineesForm {
  background-color: rgb(238, 242, 252);
}

.newbusinesstemp1 {
  width: 100%;
}


/* Booking */

.userSignupForm .image-holder-booking {
  display: table-cell;
  width: auto;
  background: url(https://media.giphy.com/media/ZDEXRiAGeocyJ8URit/giphy.gif);
  background-size: contain;
}

.carousel-inner{
    width:100%;
    height:auto;
    max-height: 700px;
    margin-bottom: 30px;
}

.jumboImg {
  background-repeat: no-repeat;
  width:inherit;
  height:100%;
}

.carousel-caption{
  margin-block-end: 20vh;
}

@media screen and (max-width: 500px){
  .carousel-caption{
    text-size-adjust: 0vw;
    margin-block-end: -5vh;
  }
}

/* about Us */

.devInfo{
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}

.devIntro{
  text-align: center;
  text-indent: 20px;
  margin: 10px;
}

.card-Img img {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
}