#mainHeader {
    background-image: url("https://image.freepik.com/free-vector/group-people-running-up-stairway-top-mountain_24911-56324.jpg");
    opacity: 79% !important;
    height: 500px;
    background-size: cover;
  }
  